// This file was auto-generated by Fern from our API Definition.

import type * as core from "../../../../../core/index.js";
import type * as Speechall from "../../../../index.js";

/**
 * @example
 *     {
 *         file: fs.createReadStream("/path/to/your/file"),
 *         model: "openai.whisper-1"
 *     }
 */
export interface OpenAiCreateTranslationRequest {
    /** The audio file object (not file name) translate, in one of these formats: flac, mp3, mp4, mpeg, mpga, m4a, ogg, wav, or webm. */
    file: core.file.Uploadable;
    /** ID of the model to use. It follows the naming convention provider/model-name */
    model: OpenAiCreateTranslationRequest.Model;
    /** An optional text to guide the model's style or continue a previous audio segment. The [prompt](/docs/guides/speech-to-text/prompting) should be in English. */
    prompt?: string;
    /** The desired format for the translation output. Defaults to `json`. */
    response_format?: Speechall.OpenAiAudioResponseFormat;
    /** The sampling temperature, between 0 and 1. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. If set to 0, the model will use [log probability](https://en.wikipedia.org/wiki/Log_probability) to automatically increase the temperature until certain thresholds are hit. */
    temperature?: number;
}

export namespace OpenAiCreateTranslationRequest {
    /**
     * ID of the model to use. It follows the naming convention provider/model-name
     */
    export type Model =
        /**
         * A valid Speechall model identifier capable of translation. */
        string | ("openai.whisper-1" | "deepgram.whisper-large");
}
