// This file was auto-generated by Fern from our API Definition.

import type * as core from "../../../../../core/index.js";
import type * as Speechall from "../../../../index.js";

/**
 * @example
 *     {
 *         file: fs.createReadStream("/path/to/your/file"),
 *         model: "amazon.transcribe"
 *     }
 */
export interface OpenAiCreateTranscriptionRequest {
    /** The audio file object (not file name) to transcribe, in one of these formats: flac, mp3, mp4, mpeg, mpga, m4a, ogg, wav, or webm. */
    file: core.file.Uploadable;
    /** The Speechall model identifier (`provider.model`) to use for transcription. */
    model: Speechall.TranscriptionModelIdentifier;
    /** The language of the input audio. Supplying the input language in [ISO-639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) format will improve accuracy and latency. */
    language?: string;
    /** An optional text to guide the model's style or continue a previous audio segment. The [prompt](/docs/guides/speech-to-text/prompting) should match the audio language. */
    prompt?: string;
    /** The desired format for the transcription output. Defaults to `json`. */
    response_format?: Speechall.OpenAiAudioResponseFormat;
    /** The sampling temperature, between 0 and 1. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. If set to 0, the model will use [log probability](https://en.wikipedia.org/wiki/Log_probability) to automatically increase the temperature until certain thresholds are hit. */
    temperature?: number;
    /** The timestamp granularities to populate for this transcription. `response_format` must be set `verbose_json` to use timestamp granularities. Either or both of these options are supported: `word`, or `segment`. Note: There is no additional latency for segment timestamps, but generating word timestamps incurs additional latency. */
    "timestamp_granularities[]"?: OpenAiCreateTranscriptionRequest.TimestampGranularitiesArray.Item[];
}

export namespace OpenAiCreateTranscriptionRequest {
    export type TimestampGranularitiesArray = TimestampGranularitiesArray.Item[];

    export namespace TimestampGranularitiesArray {
        export const Item = {
            Word: "word",
            Segment: "segment",
        } as const;
        export type Item = (typeof Item)[keyof typeof Item];
    }
}
