// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { toJson } from "../../../../core/json.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Speechall from "../../../index.js";

export declare namespace OpenAiCompatibleSpeechToTextClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {
    }
}

/**
 * Endpoints that mimic the request and response structure of OpenAI's `/audio/transcriptions` and `/audio/translations` endpoints, allowing for easier integration if migrating from or using OpenAI's SDKs.
 */
export class OpenAiCompatibleSpeechToTextClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<OpenAiCompatibleSpeechToTextClient.Options>;

    constructor(options: OpenAiCompatibleSpeechToTextClient.Options) {


                        this._options = normalizeClientOptionsWithAuth(options);
                    
    }

    /**
     * Mimics the OpenAI `/audio/transcriptions` endpoint. Accepts audio file uploads via `multipart/form-data`.
     * Allows specifying model, language, prompt, response format, temperature, and timestamp granularity similar to OpenAI.
     * Note: The `model` parameter should use Speechall's `provider.model` format.
     *
     * @param {Speechall.OpenAiCreateTranscriptionRequest} request
     * @param {OpenAiCompatibleSpeechToTextClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechall.BadRequestError}
     * @throws {@link Speechall.UnauthorizedError}
     * @throws {@link Speechall.PaymentRequiredError}
     * @throws {@link Speechall.NotFoundError}
     * @throws {@link Speechall.TooManyRequestsError}
     * @throws {@link Speechall.InternalServerError}
     * @throws {@link Speechall.ServiceUnavailableError}
     * @throws {@link Speechall.GatewayTimeoutError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.openAiCompatibleSpeechToText.openaiCompatibleCreateTranscription({
     *         file: fs.createReadStream("/path/to/your/file"),
     *         model: "amazon.transcribe"
     *     })
     */
    public openaiCompatibleCreateTranscription(request: Speechall.OpenAiCreateTranscriptionRequest, requestOptions?: OpenAiCompatibleSpeechToTextClient.RequestOptions): core.HttpResponsePromise<Speechall.OpenaiCompatibleCreateTranscriptionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__openaiCompatibleCreateTranscription(request, requestOptions));
    }

    private async __openaiCompatibleCreateTranscription(request: Speechall.OpenAiCreateTranscriptionRequest, requestOptions?: OpenAiCompatibleSpeechToTextClient.RequestOptions): Promise<core.WithRawResponse<Speechall.OpenaiCompatibleCreateTranscriptionResponse>> {
        const _request = await core.newFormData();
        await _request.appendFile("file", request.file);
        _request.append("model", request.model);
        if (request.language != null) {
            _request.append("language", request.language);
        }

        if (request.prompt != null) {
            _request.append("prompt", request.prompt);
        }

        if (request.response_format != null) {
            _request.append("response_format", request.response_format);
        }

        if (request.temperature != null) {
            _request.append("temperature", request.temperature.toString());
        }

        if (request["timestamp_granularities[]"] != null) {
            for (const _item of request["timestamp_granularities[]"]) {
                _request.append("timestamp_granularities[]", _item);
            }
        }

        const _maybeEncodedRequest = await _request.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, mergeOnlyDefinedHeaders({ ...(_maybeEncodedRequest.headers) }), requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SpeechallEnvironment.Default), "openai-compatible/audio/transcriptions"),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Speechall.OpenaiCompatibleCreateTranscriptionResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400: throw new Speechall.BadRequestError(_response.error.body as Speechall.ErrorResponse, _response.rawResponse);
                case 401: throw new Speechall.UnauthorizedError(_response.error.body as Speechall.ErrorResponse, _response.rawResponse);
                case 402: throw new Speechall.PaymentRequiredError(_response.error.body as Speechall.ErrorResponse, _response.rawResponse);
                case 404: throw new Speechall.NotFoundError(_response.error.body as Speechall.ErrorResponse, _response.rawResponse);
                case 429: throw new Speechall.TooManyRequestsError(_response.error.body as Speechall.ErrorResponse, _response.rawResponse);
                case 500: throw new Speechall.InternalServerError(_response.error.body as Speechall.ErrorResponse, _response.rawResponse);
                case 503: throw new Speechall.ServiceUnavailableError(_response.error.body as Speechall.ErrorResponse, _response.rawResponse);
                case 504: throw new Speechall.GatewayTimeoutError(_response.error.body as Speechall.ErrorResponse, _response.rawResponse);
                default: throw new errors.SpeechallError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/openai-compatible/audio/transcriptions");
    }

    /**
     * Mimics the OpenAI `/audio/translations` endpoint. Accepts audio file uploads via `multipart/form-data` and translates the speech into English text.
     * Allows specifying model, prompt, response format, and temperature similar to OpenAI.
     * Note: The `model` parameter should use Speechall's `provider.model` format (ensure the selected model supports translation).
     *
     * @param {Speechall.OpenAiCreateTranslationRequest} request
     * @param {OpenAiCompatibleSpeechToTextClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechall.BadRequestError}
     * @throws {@link Speechall.UnauthorizedError}
     * @throws {@link Speechall.PaymentRequiredError}
     * @throws {@link Speechall.NotFoundError}
     * @throws {@link Speechall.TooManyRequestsError}
     * @throws {@link Speechall.InternalServerError}
     * @throws {@link Speechall.ServiceUnavailableError}
     * @throws {@link Speechall.GatewayTimeoutError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.openAiCompatibleSpeechToText.openaiCompatibleCreateTranslation({
     *         file: fs.createReadStream("/path/to/your/file"),
     *         model: "openai.whisper-1"
     *     })
     */
    public openaiCompatibleCreateTranslation(request: Speechall.OpenAiCreateTranslationRequest, requestOptions?: OpenAiCompatibleSpeechToTextClient.RequestOptions): core.HttpResponsePromise<Speechall.OpenaiCompatibleCreateTranslationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__openaiCompatibleCreateTranslation(request, requestOptions));
    }

    private async __openaiCompatibleCreateTranslation(request: Speechall.OpenAiCreateTranslationRequest, requestOptions?: OpenAiCompatibleSpeechToTextClient.RequestOptions): Promise<core.WithRawResponse<Speechall.OpenaiCompatibleCreateTranslationResponse>> {
        const _request = await core.newFormData();
        await _request.appendFile("file", request.file);
        _request.append("model", typeof request.model === "string" ? request.model : toJson(request.model));
        if (request.prompt != null) {
            _request.append("prompt", request.prompt);
        }

        if (request.response_format != null) {
            _request.append("response_format", request.response_format);
        }

        if (request.temperature != null) {
            _request.append("temperature", request.temperature.toString());
        }

        const _maybeEncodedRequest = await _request.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, mergeOnlyDefinedHeaders({ ...(_maybeEncodedRequest.headers) }), requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SpeechallEnvironment.Default), "openai-compatible/audio/translations"),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Speechall.OpenaiCompatibleCreateTranslationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400: throw new Speechall.BadRequestError(_response.error.body as Speechall.ErrorResponse, _response.rawResponse);
                case 401: throw new Speechall.UnauthorizedError(_response.error.body as Speechall.ErrorResponse, _response.rawResponse);
                case 402: throw new Speechall.PaymentRequiredError(_response.error.body as Speechall.ErrorResponse, _response.rawResponse);
                case 404: throw new Speechall.NotFoundError(_response.error.body as Speechall.ErrorResponse, _response.rawResponse);
                case 429: throw new Speechall.TooManyRequestsError(_response.error.body as Speechall.ErrorResponse, _response.rawResponse);
                case 500: throw new Speechall.InternalServerError(_response.error.body as Speechall.ErrorResponse, _response.rawResponse);
                case 503: throw new Speechall.ServiceUnavailableError(_response.error.body as Speechall.ErrorResponse, _response.rawResponse);
                case 504: throw new Speechall.GatewayTimeoutError(_response.error.body as Speechall.ErrorResponse, _response.rawResponse);
                default: throw new errors.SpeechallError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/openai-compatible/audio/translations");
    }
}
